@font-face {
    font-family: gblack;
    src: url(../fonts/Gotham-Black.otf);
}

@font-face {
    font-family: gbold;
    src: url(../fonts/Gotham-Bold.otf);
}

@font-face {
    font-family: gthin;
    src: url(../fonts/Gotham-Thin.otf);
}

@font-face {
    font-family: gmedium;
    src: url(../fonts/GothamMedium.ttf);
}

@font-face {
    font-family: cplight;
    src: url(../fonts/Cera-Pro-Light.otf);
}

@font-face {
    font-family: cpmedium;
    src: url(../fonts/Cera-Pro-Medium.otf);
}

@font-face {
    font-family: cpblack;
    src: url(../fonts/Cera-Pro-Black.otf);
}

.section-1 .carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 15px;
    height: 15px;
    margin-right: 7px;
    margin-left: 7px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.5;
    transition: opacity 0.6s ease;
    border-radius: 50% !important;
}

.section-1 .carousel-indicators li.active {
    background-color: #000;
    opacity: 1;
}

.section-1 .carousel-control-prev {
    display: none;
}

.section-1 .carousel-control-next {
    display: none;
}

.section-1 .carousel-indicators {
    position: absolute;
    left: 0;
    bottom: 50px;
    z-index: 15;
    display: -ms-flexbox;
    display: block;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 60px;
    list-style: none;
}

.carousel-caption.d-md-block {
    float: left;
    text-align: left;
    width: 70%;
    bottom: unset;
    top: 20%;
    left: 60px;
}

.carousel-caption.d-md-block h5 {
    font-size: 100px;
    color: #000;
    font-family: gmedium;
    line-height: 91px;
}

.carousel-caption.d-md-block h5 span {
    font-family: gthin;
}

.carousel-caption.d-md-block p {
    font-size: 29px;
    color: #000;
    font-family: cplight;
    text-transform: uppercase;
    margin-bottom: 0px;
    line-height: 37px;
}

.container-fliud-w-padding {
    background: linear-gradient( 90deg, rgb(224, 28, 42) 0%, 11.9048%, rgb(216, 28, 46) 23.8095%, 61.9048%, rgb(174, 28, 68) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 70px !important;
    border-top-left-radius: 70px !important;
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
}

.container-fliud-w-padding {}

div#footer-main {
    padding-left: 50px;
    padding-right: 50px;
}

footer h4 {
    font-family: "cpmedium";
    font-size: 19px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300 !important;
}

div#footer-main .col ul li {
    list-style: none;
}

div#footer-main .col ul {
    padding-left: 0px;
}

footer .container-fliud-w-padding .row {
    width: 100%;
}

#footer-main .container-fliud-w-padding .col {
    max-width: 20% !important;
}

#footer-main .container-fliud-w-padding .col:nth-child(4) {
    max-width: 40% !important;
}

#footer-main .container-fliud-w-padding ul li a {
    font-size: 14px;
    color: #fff !important;
}

#footer-main .container-fliud-w-padding ul li {
    text-transform: uppercase;
    font-family: cplight;
}

p.sign-up-text {
    font-size: 14px;
    color: #fff !important;
    text-transform: uppercase;
    margin-bottom: 20px;
}

a.accept-btn {
    background-color: #fff;
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
}

.col.col-the-last h3 {
    color: #fff;
    font-size: 14px;
    margin-top: 28px;
    font-family: "cpmedium";
    text-transform: uppercase;
}

.col.col-the-last h2 {
    color: #fff;
    text-transform: uppercase;
    font-family: cpblack;
    text-align: right;
    padding-top: 20px;
}

p.copyright-text {
    color: #fff;
    text-align: right;
    font-size: 14px;
    font-family: "cplight";
}

.w-100 {
    height: 80%;
}

.slider-social {
    z-index: 9;
    position: absolute;
    bottom: 30;
    right: 60px;
}

.slider-social i {
    color: #000;
    font-size: 40px;
    z-index: 999999;
    margin-left: 10px;
    margin-right: 10px;
}

nav.navbar.navbar-expand-lg.navbar-light {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
}

ul.custom-nav-width {
    width: 100% !important;
    justify-content: space-around !important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0);
    text-transform: uppercase;
    font-family: cplight;
}

li.nav-item form button#button-addon1 {
    padding-top: 0px;
}


/*SHOP CAROUSEL*/

.shop-carousel button.owl-prev:before {
    content: "\f104";
    font-family: fontawesome;
    position: absolute;
    left: 0;
    top: 20%;
    color: #4d4d4d;
    font-size: 80px !important;
}

.shop-carousel button.owl-next:before {
    content: "\f105";
    font-family: fontawesome;
    position: absolute;
    right: 0;
    left: unset;
    top: 20%;
    color: #4d4d4d;
    font-size: 80px !important;
}

.shop-carousel button.owl-prev {
    font-size: 0px !important;
}

.shop-carousel button.owl-next {
    font-size: 0px !important;
}

.shop-carousel .owl-theme .owl-nav [class*="owl-"]:hover {
    color: #000;
}

.shop-carousel .owl-dots {
    display: none;
}

.shop-carousel .owl-carousel .owl-item img {
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    height: 200px;
    object-fit: contain;
}

h3.shop-carousel-title {
    text-align: center;
    font-size: 21px;
    font-family: gthin;
    position: relative;
    color: #000;
    font-weight: 600;
}

h3.shop-carousel-title:before {
    content: "";
    position: absolute;
    top: -12px;
    width: 94px;
    height: 4px;
    background: linear-gradient( 90deg, rgb(224, 28, 42) 0%, 11.9048%, rgb(216, 28, 46) 23.8095%, 61.9048%, rgb(174, 28, 68) 100%);
    margin: 0 auto;
    left: calc(50% - 43px);
}

h2.s-latest-product {
    font-size: 45px;
    font-family: gmedium;
    padding-bottom: 30px;
    
}

.hero-image-shop {
    border-bottom: 8px solid #c21d3b;
}

.shop-carousel {
    padding-top: 40px;
}

.owl-carousel.reponsive.owl-theme.owl-loaded.owl-drag {
    border-bottom: 2px solid #60606069;
    padding-bottom: 20px;
}

img.product-dynamic-images {
    width: 300px;
    height: 200px;
    object-fit: contain;
    object-position: center;
    margin: auto;
}


/*SHOP CAROUSEL*/

.shop-carousel-title {
    text-align: center;
    font-size: 21px;
    font-family: gthin !important;
    position: relative;
}


/* search bar */

i.fa-search,
i.fa-shopping-cart {
    color: #000;
}

.signin-btn {
    background: linear-gradient( 90deg, rgb(224, 28, 42) 0%, 11.9048%, rgb(216, 28, 46) 23.8095%, 61.9048%, rgb(174, 28, 68) 100%);
    color: #fff;
    border-radius: 8px;
}

.badge {
    background: #fff;
    color: #000;
    border-radius: 25px;
    border: 1px solid #000;
    margin: 0 2px;
}

.search-input {
    background-color: #fff !important;
    border-radius: 25px;
}

.search-input-grp {
    background-color: #fff !important;
    border: 1px solid #000;
    margin-top: 8px;
}

.fc-text::before {
    display: block;
    content: "";
    border-top: 0.3rem solid red;
    width: 4rem;
    margin: auto;
}


/*  */

.card-img-top {
    font-size: 0px;
    height: 45.906px;
}

#ih893 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.text-left.text-uppercase {
    color: #5F5F5F;
    font-size: 20px;
    text-align: left;
    padding-top: 0px;
    padding-bottom: 5px;
}

a.xpand-cat:hover {
    font-weight: 900;
    color: #c8c8c8;
}

.display-home.text-center.text-uppercase:hover {
    font-weight: 900;
}

.img-fluid-home {
    width: 300px;
    height: 200px;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
    display: block;
    margin: auto;
    object-fit: contain;
}

.display-1 {
    font-size: 12px;
    text-align: center;
}

.display-1.text-center.text-uppercase {
    padding-top: 1.5rem;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 100%;
    margin: 3px auto;
    font-size: 14px;
    font-family: "cplight";
    display: block;
    color: #000;
    font-weight: bolder;
}

a.shop-p-link {
    text-align: center;
}

.display-home.text-center.text-uppercase {
    padding-top: 1.5rem;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 100%;
    margin: 3px auto;
    font-size: 18px;
    font-family: "cplight";
    display: block;
    color: #5f5f5f;
}

#irpxl {
    margin: auto;
    padding: 0 4rem 0 0;
    letter-spacing: 1px;
    font-size: 16px;
}

#iovpf {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 0px;
    padding-left: 4rem;
    font-family: "cpmedium";
    font-size: 16px;
}

#i1lbh {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 4rem;
    font-size: 14px;
    font-family: "cplight";
}

.btn.btn-primary {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    display: block;
}

.div-head {
    border-bottom: 1px solid #000;
    font-size: 18px;
    font-family: cpmedium;
    padding-right: 0px;
    padding-left: 4rem;
}

.card {
    box-shadow: none;
}


/* .border-gradient-purple {
    border-image-source: linear-gradient(90deg, rgb(224, 28, 42) 0%, 11.9048%, rgb(216, 28, 46) 23.8095%, 61.9048%, rgb(174, 28, 68) 100%) !important;
}
.border-gradient {
    border-top: 3px solid !important;
    border-image-slice: 1;
    border-width: 3px;
} */

.loadmore {
    font-size: 18px;
    font-family: "cplight";
    cursor: pointer;
}

.loadmore:hover {
    font-weight: 900;
}

.overlay {
    max-height: 200px;
    margin: 0 auto;
    max-width: 768px;
    overflow: hidden;
    padding: 50px;
    position: relative;
    color: white;
    font-family: "Lato";
    position: relative;
    text-align: center;
    z-index: 0;
}

.overlay:before {
    content: "";
    filter: blur(20px);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.accept_continue-btn {
    background: linear-gradient( 90deg, rgb(224, 28, 42) 0%, 11.9048%, rgb(216, 28, 46) 23.8095%, 61.9048%, rgb(174, 28, 68) 100%);
    color: #fff;
    border-radius: 8px;
}

.btn-block {
    width: 60%;
    margin: auto;
}

.card {
    min-width: 320px;
}

.display-1.text-center.text-uppercase:after {
    content: "";
    position: absolute;
    background: linear-gradient( 90deg, rgb(224, 28, 42) 0%, 11.9048%, rgb(216, 28, 46) 23.8095%, 61.9048%, rgb(174, 28, 68) 100%);
    width: 40%;
    height: 4px;
    z-index: 99999;
    left: calc(100% - 70%);
    bottom: 25px;
}

.display-home.text-center.text-uppercase:after {
    content: "";
    position: absolute;
    background: linear-gradient( 90deg, rgb(224, 28, 42) 0%, 11.9048%, rgb(216, 28, 46) 23.8095%, 61.9048%, rgb(174, 28, 68) 100%);
    width: 40%;
    height: 4px;
    z-index: 99999;
    left: calc(100% - 70%);
    bottom: 50px;
}

.arrow-badge {
    display: inline-block;
    padding: 0.25em 0.6em;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    background: #c8c8c8;
    color: #fff;
    border-radius: 7px;
    border: 1px solid #c8c8c8;
    margin: 0 2px;
}

.xpand-cat {
    color: #c8c8c8;
    font-family: 'cpmedium';
    font-size: 18px;
}

@media (max-width: 1920px) {
    .container {
        max-width: 1640px;
    }
}


/* Contact Us css */

#i485k {
    font-size: 35px;
    font-family: "cpmedium";
    font-weight: 900;
}

.btn.btn-primary.btn-block {
    float: none;
    text-align: center;
}

#izx0s {
    height: 224px;
    width: 281px;
}

#ifful-2 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#ifful {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.mb-5.text-muted {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.text-muted {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
}

.exclusions {
    font-family: Georgia;
    font-size: 8pt;
    letter-spacing: 1px;
    text-shadow: none;
    font-style: normal;
}

.hero-image-contact {
    background-image: url("/../frontend/images/contact-banner.png");
    height: 50%;
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image-contact:after {
    content: "";
    position: absolute;
    background: linear-gradient( 90deg, rgb(224, 28, 42) 0%, 11.9048%, rgb(216, 28, 46) 23.8095%, 61.9048%, rgb(174, 28, 68) 100%);
    width: 100%;
    height: 5px;
    bottom: 0;
}

.hero-image-about {
    background-image: url("/../frontend/images/about.png");
    height: 50%;
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image-shop {
    background-image: url("/../frontend/images/shop-header.jpg");
    height: 50%;
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: left;
    position: absolute;
    top: 35%;
    left: 3%;
    color: #000;
}

.hero-exclusions {
    position: fixed;
    text-align: center;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text button {
    border-top-width: initial;
    border-right-width: initial;
    border-bottom-width: initial;
    border-left-width: initial;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    outline-color: initial;
    outline-style: initial;
    outline-width: 0px;
    display: inline-block;
    padding-top: 12px;
    padding-right: 35px;
    padding-bottom: 12px;
    padding-left: 35px;
    color: white;
    background-color: rgb(0, 0, 0);
    text-align: center;
    cursor: pointer;
    margin-left: -1px;
    margin-top: 5%;
    font-size: 8pt;
    letter-spacing: 5px;
    font-weight: bold;
    font-family: Geogia;
}

.hero-text button:hover {
    background-color: transparent;
    color: white;
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: black;
    border-left-color: black;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    text-shadow: rgb(0, 0, 0) 2px 2px;
}

.contact-details_map {
    padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 20px;
}

.col-form {
    padding-top: 0px;
    padding-left: 50px;
    padding-bottom: 0px;
    padding-right: 20px;
}

.col-md-6.col-form {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 50px;
}

#ik9h {
    font-size: 100px;
    color: #000;
    font-family: gmedium !important;
    font-weight: bold;
    letter-spacing: 2px;
}

.btn.btn-block.contactform-btn.btn-sm {
    text-align: center;
    float: right;
}

.btn.contactform-btn.btn-primary {
    float: right;
}

.contact-headng {
    margin: 5px 0;
    padding: 15px 0;
    font-size: 46px;
    font-family: "cpmedium";
    font-weight: 600;
}

.contactform-btn {
    background: linear-gradient( 90deg, rgb(224, 28, 42) 0%, 11.9048%, rgb(216, 28, 46) 23.8095%, 61.9048%, rgb(174, 28, 68) 100%);
    color: #fff;
    border-radius: 8px;
    float: right;
    width: 120px;
}

.custom-pad {
    padding: 0 5%;
}

.custom-nav-width form input[type="search"] {
    height: 20px;
    padding-top: 7px;
}

.featured-cat-border {
    border-bottom: 2px solid #0000003b;
    padding-bottom: 20px;
}

.block-cookie-text span {
    padding-right: 0px !important;
}

.partners-web-col {
    display: flex;
}

@media (max-width: 1024px) {
    .carousel-caption.d-md-block h5 {
        font-size: 25px;
        color: #000;
        font-family: gmedium;
        line-height: 41px;
    }
    .carousel-caption.d-md-block p {
        font-size: 22px;
        line-height: 25px;
    }
    .section-1 .carousel-indicators {
        display: none;
    }
    .w-100 {
        height: 42%;
    }
    #iovpf {
        padding-left: 0;
    }
    #i1lbh {
        padding-left: 0px;
    }
    div#footer-main {
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
    }
    #footer-main .container-fliud-w-padding .col {
        max-width: 100% !important;
        display: block;
    }
    footer .container-fliud-w-padding .row {
        display: block;
    }
    #footer-main .container-fliud-w-padding .col:nth-child(4) {
        max-width: 100% !important;
    }
    .col.col-the-last h2 {
        text-align: center;
        font-size: 20px;
    }
    p.copyright-text {
        text-align: center;
    }
    span#irpxl {
        padding-top: 20px !important;
        display: block;
        padding-bottom: 10px;
    }
    .row-cookies {
        display: block;
        text-align: center;
        /* margin: 0 auto; */
    }
    .row-cookies .col-md-7 {
        max-width: 100%;
        text-align: center;
    }
    .row-cookies .col-md-12 {
        max-width: 100%;
        text-align: center;
    }
    #iovpf {
        text-align: center;
    }
    .accept-cookie-btn {
        max-width: 100%;
        margin: 0 auto;
    }
    .block-cookie-text {
        max-width: 100%;
        margin: 0 auto;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 13px;
    }
    .navbar-light form input[type="search"] {
        background-color: Red;
        height: 10px;
        padding-top: 11px;
    }
}

@media (max-width: 992px) {
    .navbar {
        padding-right: 0;
        padding-left: 0;
    }
    .navbar-collapse {
        background: #fff;
        padding: 20px;
    }
    .navbar-toggler {
        margin: 0 6px;
    }
    .navbar-brand {
        margin-right: 6px;
        margin-left: 6px;
    }
}

@media (max-width: 768px) {
    .navbar {
        padding-right: 0;
        padding-left: 0;
    }
    .navbar-collapse {
        background: #fff;
        padding: 20px;
    }
    .navbar-toggler {
        margin: 0 6px;
    }
    .navbar-brand {
        margin-right: 6px;
        margin-left: 6px;
    }
}

@media (max-width: 425px) {
    .navbar-brand img {
        width: 150px;
        height: auto;
    }
}

@media (max-width: 768px) {
    .col-form,
    .contact-details_map {
        padding: 0 50px;
    }
    .contact-headng,
    #i485k {
        font-size: 36px;
    }
    #ik9h {
        font-size: 50px !important;
    }
    .carousel-caption.d-md-block h5 {
        font-size: 22px;
        color: #000;
        font-family: gmedium;
    }
    .carousel-caption.d-md-block p {
        font-size: 20px;
        line-height: 25px;
    }
    .section-1 .carousel-indicators {
        display: none;
    }
    .w-100 {
        height: 42%;
    }
    #iovpf {
        padding-left: 0;
    }
    #i1lbh {
        padding-left: 0px;
    }
    div#footer-main {
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
    }
    #footer-main .container-fliud-w-padding .col {
        max-width: 100% !important;
        display: block;
    }
    footer .container-fliud-w-padding .row {
        display: block;
    }
    #footer-main .container-fliud-w-padding .col:nth-child(4) {
        max-width: 100% !important;
    }
    .col.col-the-last h2 {
        text-align: center;
        font-size: 20px;
    }
    p.copyright-text {
        text-align: center;
    }
    span#irpxl {
        padding-top: 20px !important;
        display: block;
        padding-bottom: 10px;
    }
    .row-cookies {
        display: block;
        text-align: center;
        /* margin: 0 auto; */
    }
    .row-cookies .col-md-7 {
        max-width: 100%;
        text-align: center;
    }
    .row-cookies .col-md-12 {
        max-width: 100%;
        text-align: center;
    }
    #iovpf {
        text-align: center;
    }
    .accept-cookie-btn {
        max-width: 100%;
        margin: 0 auto;
    }
    .block-cookie-text {
        max-width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 425px) {
    #ik9h {
        font-size: 30px !important;
        color: #000;
        font-family: gmedium !important;
        font-weight: bold;
        letter-spacing: 2px;
    }
    .contact-headng,
    #i485k {
        font-size: 26px;
    }
    .hero-image-contact {
        height: 35%;
    }
}

@media (max-width: 425px) {
    .col-form,
    .contact-details_map {
        padding: 0 25px;
    }
}

@media only screen and (max-width: 690px) {
    .carousel-caption.d-md-block h5 {
        font-size: 20px;
        color: #000;
        font-family: gmedium;
        line-height: 35px;
    }
    .carousel-caption.d-md-block p {
        font-size: 18px;
        line-height: 25px;
    }
    .section-1 .carousel-indicators {
        display: none;
    }
    .w-100 {
        height: 60%;
    }
    #iovpf {
        padding-left: 0;
    }
    #i1lbh {
        padding-left: 0px;
    }
    div#footer-main {
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
    }
    #footer-main .container-fliud-w-padding .col {
        max-width: 100% !important;
        display: block;
    }
    footer .container-fliud-w-padding .row {
        display: block;
    }
    #footer-main .container-fliud-w-padding .col:nth-child(4) {
        max-width: 100% !important;
    }
    .col.col-the-last h2 {
        text-align: center;
        font-size: 20px;
    }
    p.copyright-text {
        text-align: center;
    }
    span#irpxl {
        padding-top: 20px !important;
        display: block;
        padding-bottom: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    div#footer-main .col ul li::after {
        content: "|";
        color: #fff;
        padding: 3px;
    }
    div#footer-main .col ul li {
        display: inline-block;
    }
}

@media (max-width: 2560px) {
    .container {
        max-width: 2530px;
    }
    .card {
        min-width: 500px;
    }
}

@media (max-width: 1920px) {
    .container {
        max-width: 1750px;
    }
    .card {
        min-width: 20%;
    }
}

@media (max-width: 1680px) {
    .container {
        max-width: 1460px;
    }
    .card {
        min-width: 25%;
    }
}

@media (max-width: 1280px) {
    .card {
        min-width: 33%;
    }
}

@media (max-width: 1024px) {
    .card {
        min-width: 50%;
    }
    .hero-image-shop {
        height: 50%;
    }
    #ik9h {
        font-size: 50px;
    }
}

@media (max-width: 768px) {
    .card {
        min-width: 100%;
    }
}

@media (max-width: 425px) {
    .card {
        min-width: 100%;
    }
}

@media only screen and (max-width: 690px) {
    h2.s-latest-product {
        font-size: 20px;
    }
    .shop-carousel button.owl-next:before {
        font-size: 40px !important;
        top: 30%;
    }
    .shop-carousel button.owl-prev:before {
        font-size: 40px !important;
        top: 30%;
    }
}

@media (max-device-width: 950px) and (orientation: landscape) {
    .carousel-inner {
        height: 100%;
    }
    .w-100 {
        height: 100%;
    }
}

@media (max-device-width: 790px) and (orientation: landscape) {
    .carousel-inner {
        height: 100%;
    }
    .w-100 {
        height: 100%;
    }
}

@media (max-device-width: 690px) and (orientation: landscape) {
    .carousel-inner {
        height: 100%;
    }
    .w-100 {
        height: 100%;
    }
}

@media only screen and (max-width: 1024px) {
    h2.s-latest-product {
        font-size: 20px;
    }
    .shop-carousel button.owl-next:before {
        font-size: 40px !important;
        top: 30%;
    }
    .shop-carousel button.owl-prev:before {
        font-size: 40px !important;
        top: 30%;
    }
}

@media screen and (max-width: 1295px) and (min-width: 975px) {
    .shop-sec-prod .card {
        min-width: 25%;
    }
}

.img-blur {
    -webkit-mask-size: 300px 295px;
    -webkit-mask-image: -webkit-gradient( linear, center top, center bottom, color-stop(1, rgba(0, 0, 0, 0)), color-stop(0, rgba(0, 0, 0, 1)));
}


/*SHOP PAGE PRODUCT RESPONSIVE*/

@media (max-width: 1920px) {
    .shop-sec-prod .card {
        min-width: 25%;
    }
}

@media (max-width: 1331px) {
    .shop-sec-prod .card {
        min-width: 33%;
    }
}

@media (max-width: 998px) {
    .shop-sec-prod .card {
        min-width: 50%;
    }
}

@media (max-width: 664px) {
    .shop-sec-prod .card {
        min-width: 100%;
    }
}

.partners-web-col ul:nth-child(2) {
    padding-left: 50px !important;
}

@media screen and (max-width: 1260px) and (min-width: 1024px) {
    .partners-web-col {
        display: block !important;
    }
    .partners-web-col ul:nth-child(2) {
        padding-left: 0px !important;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .partners-web-col {
        display: block !important;
    }
    .partners-web-col ul:nth-child(2) {
        padding-left: 0px !important;
    }
}

@media only screen and (max-width:768px) {
    .partners-web-col {
        justify-content: center;
    }
}



div.backBtn {
    width: 100px;
    left: 50px;
    /* top: 100px; */
    top:60%;
    background-color: #f4f4f4;
    transition: all 0.4s ease;
    /* position: fixed; */
    position:absolute;
    cursor: pointer;
  }
  
  span.line {
    bottom: auto;
    right: auto;
    top: auto;
    left: auto;
    background-color:rgb(194, 29, 59); ;
    border-radius: 10px;
    width: 100%;
    left: 0px;
    height: 2px;
    display: block;
    position: absolute;
    transition: width 0.2s ease 0.1s, left 0.2s ease, transform 0.2s ease 0.3s, background-color 0.2s ease;
  }
  
  span.tLine {
    top: 0px;
  }
  
  span.mLine {
    top: 13px;
    opacity: 0;
  }
  
  span.bLine {
    top: 26px;
  }
  
  .label {
    /* top: 5px; */
    /* font-size: 1em;  */
     position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      text-align: center;
      transition: all 0.4s ease;
      font-size: 18px;
      color: black;
      font-weight: bold;
  }
  
  div.backBtn:hover span.label {
    left: 25px
  }
  
  div.backBtn:hover span.line {
    left: -10px;
    height: 5px;
    background-color: rgb(194, 29, 59);;
  }
  
  div.backBtn:hover span.tLine {
    width: 25px;
    transform: rotate(-45deg);
    left: -15px;
    top: 6px;
  }
  
  div.backBtn:hover span.mLine {
    opacity: 1;
    width: 30px;
  }
  
  div.backBtn:hover span.bLine {
    width: 25px;
    transform: rotate(45deg);
    left: -15px;
    top: 20px;
  }
  
  .p1{
      text-align:center;
  }
  

  @media (max-width: 1536px) {
    .product_padding {
        padding-top: 25px !important;
    }
    
    div.backBtn {
        top: 52% !important;
    }
  }


  @media (max-width: 1536px) {
    .section-1 .carousel-indicators {
        bottom: 25px;
    }
    
    div.backBtn {
        width: 80px;
        left: 22px;
        top: 55%;
    }
  }






/*SHOP PAGE PRODUCT RESPONSIVE*/