<template>
  <div class="row">
    <div class="col-lg-10 m-auto">
      <card :title="$t('home')">
        {{ $t('you_are_logged_in') }}
        <button @click="qwe">
          Click Me
        </button>
      </card>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
// import axios from 'axios'
export default {
  middleware: 'auth',

  // async asyncData () {
  //   const { data: projects } = await axios.get('/api/projects')

  //   return {
  //     projects
  //   }
  // },
  created: function (params) {
    console.log(this.$store.state.lang.locale)
  },
  metaInfo () {
    return { title: this.$t('home') }
  },
  methods: {
    qwe: function (params) {
      axios.get('/api/getResult').then(function (res) {
        console.log(res)
      })
    }
  }
}
</script>
